[2018-12-30 03:04] AlecAivazis opened #1 "merging enums"

[2018-12-30 03:04] #1 closed

[2018-12-30 03:04] AlecAivazis opened #2 "Merge Enums"

[2018-12-30 03:04] AlecAivazis opened #3 "Merge Object Types"

[2018-12-30 03:05] AlecAivazis opened #4 "Merge Directives"

[2018-12-30 03:05] AlecAivazis opened #5 "Merge Interfaces"

[2018-12-30 03:05] AlecAivazis opened #6 "Merge Unions"

[2019-01-03 01:17] AlecAivazis opened #9 "Bundle sibling fields to the same location in a single query step"
At the moment, the query planner produces a different step every time it sees a new location. It should consider if any of its siblings also depend on the same insertion point and could therefor go together in the same query

[2019-01-03 01:33] AlecAivazis commented on #9
Could also be from queries that are below or above the current field being resolved.

Might have to wait til the planning of the full subgraph is done before scheduling its dependents.

[2019-01-05 18:37] AlecAivazis opened #11 "Bundle requests to the same service in one query"

[2019-01-05 18:47] AlecAivazis opened #12 "Wire query variables through to execution"

[2019-01-05 19:05] AlecAivazis opened #13 "Merge fragments when building queries"

[2019-01-06 07:40] AlecAivazis opened #16 "Make sure aliases are considered in insertion path"

[2019-01-06 08:10] AlecAivazis opened #17 "Convert usage of vektah/gqlparser to graphl-go/graphql"
Currently, the pretty print method relies on the print in graphql-go since vekyah/gqlparser doesn't have one. There should be an abstraction layer so we can more easily switch out implementations

[2019-01-07 00:44] AlecAivazis opened #18 "Move query printing to planning step"
This will allow it to be persisted more easily

[2019-01-07 00:45] AlecAivazis opened #19 "Implement a vektah/gqlparser native query printer"
Currently the printer converts the query to a document from `graphql-go/graphql` and uses their printer

[2019-01-07 08:45] AlecAivazis opened #20 "Add graphql and graphiql endpoints"
How will the user configure the server?

[2019-01-09 07:28] AlecAivazis opened #22 "Introspection query should return the merged schema"

[2019-01-09 18:51] AlecAivazis opened #24 "Collect multiple errors from query execution"

[2019-01-10 05:51] AlecAivazis opened #25 "How to handle multiple schemas defining different Query types"

[2019-01-11 23:59] AlecAivazis opened #28 "Look through all possible locations when deciding where a field is defined"
[At the moment](https://github.com/AlecAivazis/graphql-gateway/blob/master/plan.go#L251), if a field is defined in 2 different locations, the first one is picked. We should consider the parent's location (as well as its siblings) when choosing a place to go find a result

[2019-01-13 07:54] AlecAivazis commented on #13
I can think of at least 2 ways to handle this each with their own pros/cons.

The first is that we destroy all fragments and flatten their information into the full query that we are planning. This has the unfortunate side effect of removing any ability to reconstruct the fragment definitions when it's time to form the queries. One problem that comes to mindis when custom directives are applied at

[2019-01-13 08:02] AlecAivazis commented on #13
The second option might also force inefficient queries since it forces possibly similar branches from carrying different labels

[2019-01-14 00:30] AlecAivazis opened #31 "Remove id from execution result if it wasn't asked for"
Currently, the executor leaves the `id` field in the response body as it stitches various requests together. This should be removed from the final result if the user didnt ask for it

[2019-01-14 00:51] #22 closed

[2019-01-14 00:51] #20 closed

[2019-01-15 04:44] #12 closed

[2019-01-15 07:55] AlecAivazis commented on #16
I think this could actually just affect the planning stage since the execution just cares about inserting and extracting values which are all post alias application

[2019-01-16 21:15] #9 closed

[2019-01-16 21:15] #28 closed

[2019-01-16 22:13] #13 closed

[2019-01-16 22:13] #16 closed

[2019-01-17 03:43] #18 closed

[2019-01-17 03:45] AlecAivazis opened #36 "Handle directives on fragment spread"
The current planning implementation loses all information about directives applied at the location fragments are spread.

[2019-01-20 02:06] #36 closed

[2019-01-20 02:10] AlecAivazis opened #38 "Make sure include/if directives aren't explosive"

[2019-01-21 10:31] #24 closed

[2019-01-22 07:49] #38 closed

[2019-01-22 21:37] AlecAivazis commented on #3
* Implementing different interfaces
* directives

[2019-01-22 21:38] AlecAivazis opened #42 "Track and validate directive application against service definitions"

[2019-01-22 23:12] AlecAivazis opened #43 "Spread unions across service boundaries"
We should explore if there is a reasonable story and motivation for allowing different services to contribute different members to the same union.

[2019-01-23 04:47] #2 closed

[2019-01-23 04:47] #3 closed

[2019-01-23 04:47] #4 closed

[2019-01-23 04:47] #5 closed

[2019-01-23 04:47] #6 closed

[2019-01-23 08:11] AlecAivazis commented on #43
If a union is spread across multiple services we can create a step that is inserted based on the value of `__typeName`. It's important that a node query does not end up at a service that does not have the underlying type defined.

[2019-01-25 19:24] AlecAivazis opened #45 "Pass context through execution"

[2019-01-25 23:24] AlecAivazis opened #47 "Add special viewer and node fields"
The current implementation would send `node` to one of the services only to have to bounce around. We should handle `node` specially so we can choose which `node` to send the request to.

[2019-01-25 23:52] AlecAivazis opened #48 "Make sure Mutations work"

[2019-01-26 01:19] AlecAivazis opened #49 "Add ability to modify outbound queries"
There is currently no way to modify what happens at runtime without invalidating query plans (see the auth example for more info).

We should figure out a way to modify the network queryer that's used for network requests when evaluating a plan.

[2019-01-26 19:22] #45 closed, assigned to nobody

[2019-01-26 20:37] AlecAivazis commented on #47
The current implementation would send `node` to one of the services only to have to bounce around. We should handle `node` specially so we can choose which `node` to send the request to.

Is this a general pattern? Should we resolve fields with multiple locations based on the locations of their children to encourage as few network queries as possible?

[2019-01-26 20:38] AlecAivazis commented on #47
We also should consider if `viewer` is something that we can give a similar treatment. If the gateway knew how to extract the `id` of the current user from the request then it could resolve the `viewer` field in the gateway and plan against `User.*`.

[2019-01-30 05:32] AlecAivazis opened #53 "Vadliate service schemas when merging"
In order to function, we need each service to obey a few rules:
* Each service must satisfy the global ID spec: https://facebook.github.io/relay/graphql/objectidentification.htm
* If a type is shared across services, it must be a `Node` in all services

[2019-01-30 22:10] AlecAivazis opened #54 "Add Merger that understands the ApolloServer enums"

[2019-01-30 22:11] #54 closed

[2019-02-07 03:47] #31 closed

[2019-02-07 17:55] AlecAivazis opened #57 "Add support for complexity limits"

[2019-02-09 00:17] AlecAivazis opened #58 "Spreading interfaces"
Currently the merger allows for interfaces to be spread across different services. However, the planner does not handle them very well.

If there was an interface that spanned two services, the gateway would always fire both queries regardless of wether the `id` belongs to the target service. For example, in the following query, depending on the value of `id` one

[code]

Also the gateway has to b

[2019-02-09 00:21] AlecAivazis commented on #58
The gateway has to be able to add `id` to the `myInterface` selection set which means that every boundary interface must be a superset of node.

[2019-02-09 01:00] #47 closed

[2019-02-09 01:02] AlecAivazis opened #60 "Support for gateway fields"
There are some situations (`viewer` and `node` for example) where resolution should happen at the gateway level. We should be careful to not allow too much customizability here as it would act as an escape hatch to do things the "old way".

One option is to confine these fields to some simple signature like ExecutionContext =>  struct{Type, ID}.

[2019-02-10 18:09] #60 closed

[2019-02-12 23:15] AlecAivazis commented on #57
How do we enable different services to own the complexity for a service? Is there a `computeComplexity` field? Is that something we want to leak to the final user? If not, the gateway is now responsible for ignoring certain fields from the public API.

[2019-07-09 23:48] StevenACoffman opened #64 "Feature Request: Support Apollo Federation"
## Feature Request:

Please consider supporting [Graphql Federation](https://www.apollographql.com/docs/apollo-server/federation/federation-spec/). If this could function as a gateway which composes the overall schema and executes federated queries, that would be amazing. There is [work ongoing to add federation support for gqlgen](https://github.com/99designs/gqlgen/issues/740).

Apollo Federatio

[2019-07-11 16:04] AlecAivazis commented on #64
Hey @StevenACoffman! Thanks for opening this issue.

I have been closely watching the development of the Apollo federated gateway since Martjin showed it at GraphQL summit last year. I think its important to distinguish "schema federation" as a concept from the particular implementation that was released by the Apollo team. This library provides a federated gateway that works without adding any ad

[2019-07-12 18:24] danielvladco opened #65 "provide docker image"
Is it planning for the future to provide an official docker image for this project? I think It would be very convenient.

[2019-07-12 18:26] AlecAivazis commented on #65
Most definitely! I was holding off until I understood a little bit better how the gateway was being used. My hunch is that for more usecases a custom binary will have to be built, reducing the usefulness of a pre-build docker image apart from quick demos

[2019-07-12 19:35] StevenACoffman commented on #64
Thank you for your response. I’ve been chewing on it for a bit, and I have a follow-up question.

Many times our permissions (authorization) checks for fields in one service require fetching data from a separate service. I would prefer to avoid having each resolvers do the work of looking up the permission because it is:
a. much slower, since it happens in serial;
b. super wasteful, since multiple

[2019-07-12 20:51] AlecAivazis commented on #64
Hey @StevenACoffman thanks for the follow up. I am a bit confused how this relates to the previous post 🤔

It sounds like you want a way for directives to modify the query plan generated by the Planner. At the moment that's not possible but if you wanted to open a separate issue with your usecase above, I would love to look into it when I get some down time.

[2019-07-12 21:50] StevenACoffman commented on #64
Yeah, sorry to kind of hijack the issue. The relevant bit I was struggling to articulate was that Authorization tends to be such an important cross cutting concern that at the federated gateway it suggests somehow sharing context or hinting to the gateway. We can also put permissions into initial login jwt token that gets passed around, or make queries require permission as parameters.

e.g. `quer

[2019-07-12 21:51] AlecAivazis commented on #64
Yea I definitely see the need for this kind of modification - mind opening a ticket? If you wanted to take a stab at implementing I'd love to provide any guidance you need

[2019-07-12 21:51] #64 closed

[2019-07-13 18:01] StevenACoffman opened #66 "Feature Request: Gateway Support for First Class Authorization"
Follow-up from #64

Authentication is a shared concern where putting some logic in the gateway may be unavoidable. What we mostly want to avoid is every service change requiring changes to the gateway (which is the case for schema stitching), so the gateway acts as a development bottleneck and every service change can bring down the entire gateway if it adds broken code.

However, many times our p

[2019-07-13 18:04] StevenACoffman commented on #66
[Relevant discussion in the Apollo Federation context is here](https://spectrum.chat/apollo/apollo-federation/federation-and-permissions-checking~feab0eaf-f6c0-4c8a-99cd-1aba78f4690b)

[2019-07-15 08:16] danielvladco opened #67 "Introspection schema returns empty values for input types"
main.go:
[code]
gql schema:
[code]
gql query:
"Introspection Query"

expected result:
The complete json representation of gql scheam

got:
[code]

all Input types are like this.

[2019-07-15 16:27] AlecAivazis commented on #67
Hey @danielvladco! Thanks for opening this. I think this issue belongs in the [nautilus/graphql] package. I'll move it over there for you.

I have some time to investigate this today so hopefully I'll have something for you soon

[2019-07-23 07:14] jakubknejzlik commented on #65
Hello! First of all, thanks for this great library. It's unfortunate that I didn't find it earlier as I'm currently migrating multiple services from Node.js to Go and gateway was the last piece of the puzzle. And this library looks like win:win situation 🎉.
I'm currently using my version of Node.js gateway (basic schema stitching) that can be found here: https://github.com/graphql-services/graphql

[2019-07-23 19:48] AlecAivazis commented on #65
Thanks for the positive feedback! I'm happy to know that this library is helping you out!

Please let me know if you run into any problems. I don't have a huge amount of time for feature requests atm but I can definitely work on bugs that pop up.

[2019-07-24 12:20] jakubknejzlik opened #68 "Wrong type for variable values containing object"
During testing the gateway I've probably found bug when using variables with object (scalar values work fine).

## Setup
I have existing api exposed at https://graphql-orm-example.herokuapp.com/graphql and running gateway (v0.0.9) locally by running:
[code]

## Inputs
Query:
[code]
Variables
[code]

## Expected result
Current API returns empty list:
[code]

FYI: when providing the variables direct

[2019-07-24 16:55] AlecAivazis commented on #68
Oh no! I'm sorry to hear this.

I'll try to get something fixed ASAP. Do other non-object variables get threaded through correctly? I should have a test somewhere that verifies this works but maybe I missed objects

[2019-07-24 18:39] AlecAivazis commented on #68
*sigh* sorry about the spam didn't want to mark the issue as closed until you verified. This should now be fixed in the latest version.

Sorry again for the inconvenience!

[2019-07-24 21:30] jakubknejzlik commented on #68
Wow, thanks for quick reply! I’ll test it in few hours and let you know :)

[2019-07-25 05:42] jakubknejzlik commented on #68
It did help, but also helped me to discover another one with arrays.
Plain query works (same setup):
[code]

but with variables:
[code]

Result:
[code]

[2019-07-25 05:45] jakubknejzlik commented on #68
It did help, but also helped me to discover another one with arrays.
Plain query works (same setup):
[code]

but with variables:
[code]

Result:
[code]

[2019-07-25 07:33] AlecAivazis commented on #68
Alright cool I suspect that's a bug in the same place. I'll take a look soon

[2019-07-25 08:00] AlecAivazis commented on #68
This should be fixed in this PR: https://github.com/nautilus/gateway/pull/69

Decided this was better than merging straight to master so we can verify before shooting the gateway version up

[2019-07-25 12:53] jakubknejzlik commented on #68
Getting closer and closer :D ... tried on nautilus/graphql v0.0.5 and got this:
[code]

[2019-07-25 16:23] AlecAivazis commented on #68
Okay try again with `v0.0.6`

[2019-07-25 22:00] jakubknejzlik opened #70 "Content-type header set to text/plain"
Currently the GraphQL server returns `Content-Type: text/plain` although it's returning json. I'm not sure if it's in the specs, but most of the servers return `application/json`.

I'm currently "hacking" it by custom handler func:
[code]
(https://github.com/graphql-services/graphql-gateway/blob/feature/nautilus-gateway/main.go#L67). Seems to work fine, but it would be nice if the server returns `

[2019-07-25 22:01] jakubknejzlik commented on #68
I'm stuck a little bit on #70 , but from playground it seems ok.

[2019-07-25 22:01] AlecAivazis commented on #68
Awesome - Ill take a look at that issue now. Are you able to send all of your filters now?

[2019-07-25 22:03] jakubknejzlik commented on #70
The main reasons for this are:
# the original gateway(s) return also `application/json`
# it messes up with the client library which is expecting json

But the playground is working fine (not sure about official apollo client library). Feel free to correct me and close this if `plain/text` is also valid content type for GraphQL server response :)

[2019-07-25 22:03] #68 closed

[2019-07-25 22:06] jakubknejzlik commented on #68
Yep, I'll test it on our main API and deploy it to other projects (if everything's ok, it goes to production (small project) in few days :) ). I'll reopen this one or create new issue if I found anything 👍

[2019-07-25 22:07] AlecAivazis commented on #70
You are correct! the Content-Type should be `application/json`. There is now a PR open to fix this 😄

[2019-07-25 22:17] AlecAivazis commented on #70
This should now be fixed in `v0.0.12`

[2019-07-25 22:17] #70 closed

[2019-07-25 22:27] jakubknejzlik commented on #70
Tested and working 👏 🙇

[2019-07-25 22:28] AlecAivazis commented on #70
Awesome! Let me know if you run into any problems. Afaik, you are one of the first people to try this in the wild so there might be more issues 🙈

[2019-07-30 13:12] jakubknejzlik opened #72 "Missing meta fields for query/type"
According to GraphQL specs, it should be possible to query meta fields (query's `__schema` and `__type` and type's `__typename` - not sure if that's all).

Currently the gateway doesn't expose them, which results in following error while using apollo client:
[code]

I'ts possible to disable sending `__typename` field using
[code]
but this isn't always an option.

[2019-07-30 16:03] AlecAivazis commented on #72
Hey @jakubknejzlik!

Thanks for another issue report. I am pretty sure that those fields do exist since the playground can introspect them. Also, I think the error would look more like `can't query field __typename on {Type}`. I suspect this is because I don't populate `Location` correctly somewhere 🤔

[2019-07-30 20:39] AlecAivazis commented on #72
Do you by chance have a repo that reproduces this?

[2019-07-30 21:53] jakubknejzlik commented on #72
@AlecAivazis not a repo, but you can try latest gateway version with this api:
https://graphql-orm-example.herokuapp.com/graphql

and query(example):
[code]

Direct response:
[code]

Behind gateway:
[code]

[2019-07-31 00:10] AlecAivazis commented on #72
Ah!! Sorry this error message is really bad. This isn't not about the Location that is part of the introspection query. This error is the gateway saying that it could not find a service that defined `__typename` on the `Company` type. I should have a fix for this soon.

[2019-07-31 00:25] jakubknejzlik commented on #72
Hmm...interesting. I've found multiple GraphQL API's, which doesn't expose __typename field in schema, but correctly resolve it.
For example: https://gitlab.com/api/graphql

Unfortunately trying to run the gateway with:
[code]
returns the error: ```Encountered error introspecting schemas: No operation named ""```
But it's different story :)

[2019-07-31 00:27] jakubknejzlik commented on #72
This is working example:
[code]

Query:
[code]

Isn't the problem that the metadata fields are resolved, but not specified specifically in schema? 🤔

[2019-07-31 00:31] jakubknejzlik commented on #72
Ah, sorry for spam...I misunderstood your comment...I think it's clear by looking at the PR 👍

[2019-07-31 00:31] AlecAivazis commented on #72
Yea I noticed that too 🤔 I think graphql-js doesn't include it in the introspection results but the playground allows it to be added (just a random guess). Anyway, I think I fixed this problem. There is a PR waiting for your approval 😄

When the gateway is merging the service schemas together, it has to keep track of where each field is defined. For reasons that don't matter `__typename` was not i

[2019-07-31 00:40] #72 closed

[2019-07-31 00:41] AlecAivazis commented on #72
Sweet! Another one down. Thanks for finding these - its nice to see someone using this 😄

[2019-08-08 23:36] edwinmo-splunk opened #74 "Union type not being merged correctly"
Hi! We're having difficulty with the merger not returning the correct `PossibleTypes` for a `Union` type. For an example based on our use case, I have defined the following union in both remote schemas:

[code]

After introspecting each remote schema separately, the `github.com/vektah/gqlparser/*ast.Schema.PossibleTypes["Foo"]` I get looks like the following for both (which is correct!):

[code]

[2019-08-09 03:29] AlecAivazis commented on #74
Hey! I'm sorry to hear you are running into problems.

Just to make sure i'm following, you're running into issues when a union type is spread across service boundaries? If so, #43 already tracks this. The problem is not just that `PossibleTypes` needs to do the merge. A service will error if we ask for an id of a type it does not recognize so when we add a branch in a query plan, we have to have

[2019-08-09 05:18] edwinmo-splunk commented on #74
Hey Alec! Thanks for the quick response.

Not quite, the union type is identical in both services. I did consider #43 as a related issue, but decided this was different and was expecting this to be supported.

I believe I tested removing one of the services to see what sort of schema the nautilus gateway would report. And sure enough, the introspection query was still returning:

[code]

I'll be a

[2019-08-09 16:46] edwinmo-splunk commented on #74
Hi again 😄

I did the following and was able to reproduce the issue where a union's `possibleTypes` includes itself (and nothing else):

1. I have only a single remote schema that defines the union type (`Foo`)
2. When introspecting the nautilus/gateway's schema, the following is returned for the union type in question:
[code]
3. However, when introspecting the remote schema directly (and this is

[2019-08-09 16:48] AlecAivazis commented on #74
Hey @edwinmo-splunk! I am just now sitting down at my computer for the day if you want to poke at this a bit more. I'll be on the gopher's slack channel 👍

That being said, I think that a type does need to be an implementer of itself, since the following is a valid query:

[code]

I could be wrong but some memory is telling me that I didn't originally have types implementing themselves but then ad

[2019-08-09 16:52] AlecAivazis commented on #74
Ah well that does seem pretty conclusive... Alright so as long as we can still support a query like ^ i think you're change makes sense. I hope the non-null values in that response don't cause problems either...

[2019-08-09 17:35] edwinmo-splunk commented on #74
Good call on checking that query continues working. Looks like everything's okay:

[code]

The mutation executed successfully.

This caught my eye too! This hasn't caused me any issues and has been like this before I made any changes, so I would say it's fine for now. However we might want to be safe than sorry and have them be the zeroth value for each type. My references are `gqlgen` and `apollo

[2019-08-09 18:59] AlecAivazis commented on #74
Fantastic! Want to open a PR with your changes? I'll be around so we can get it merged pretty quickly

[2019-08-12 16:48] edwinmo-splunk commented on #74
Hey! Sorry, didn't mean to leave you hanging, got caught up in meetings on Friday. I'll put out a PR today/tomorrow. Thanks again for the help, I'll update this issue with that PR when ready. Cheers

[2019-08-12 16:58] AlecAivazis commented on #74
No worries at all! I figured something came up. I’ll keep an eye out for the PR - also if you could include a test that verifies it works appropriately that’s be awesome!

[2019-08-12 19:15] jakubknejzlik opened #75 "Memory leak (possibly)"
Running gateway consumes more and more memory over time. I'm not sure if this is caused by memory leak, but after startup it has ~5MB allocated and after few days with small usage (10req/minute) it slowly gets to ~200MB and rising. We have memory limit to 256MB so it get's restarted automatically (k8s). Approximately 4x in last 3 days.

Any idea what could be causing the problem or how to debug th

[2019-08-13 04:26] AlecAivazis commented on #74
Closing this since the PR has been merged. Thanks again!

[2019-08-13 04:26] #74 closed

[2019-08-13 04:27] AlecAivazis commented on #75
Oh no! 😱

Thanks for noticing this. I will see if I can hunt it down. That being said, can you give me whatever information you can about the schema, queries being fired, etc. There is a lot of goroutine orchestration in the gateway so it's possible something is leaking.

[2019-08-13 04:38] AlecAivazis commented on #75
This page seems to have a good description on using `pprof` to hunt down goroutine leaks: https://jvns.ca/blog/2017/09/24/profiling-go-with-pprof/

I'm going to try to reproduce this leak locally with a test service. Will keep this issue up to date wiht my findings

[2019-08-14 15:31] jakubknejzlik commented on #64
@AlecAivazis I agree with your opinion in all points. On the other hand I often myself in situations, where I don't want to create separate logic just to merge multiple services/schemas together and link specific types to specific fields. I've created method for stitching things together by providing type extensions with special directives to gateway, but the downside was that I always had to rede

[2019-08-14 15:50] AlecAivazis opened #77 "Custom directives"
@AlecAivazis I agree with your opinion in all points. On the other hand I often myself in situations, where I don't want to create separate logic just to merge multiple services/schemas together and link specific types to specific fields. I've created method for stitching things together by providing type extensions with special directives to gateway, but the downside was that I always had to rede

[2019-08-14 15:59] AlecAivazis commented on #66
@AlecAivazis I agree with your opinion in all points. On the other hand I often myself in situations, where I don't want to create separate logic just to merge multiple services/schemas together and link specific types to specific fields. I've created method for stitching things together by providing type extensions with special directives to gateway, but the downside was that I always had to rede

[2019-08-14 15:59] #77 closed

[2019-08-14 16:06] AlecAivazis commented on #66
Hey @jakubknejzlik! I moved your comment over to this issue to keep the auth/directive conversation all in one place - hope you don't mind!

This gateway should be automatically stitching types together when their names match. This should save you from having to write that complicated (and error prone logic) in almost all cases.

On the topic of automatically restarting the gateway, this is one of

[2019-08-14 16:07] AlecAivazis commented on #64
Hey @jakubknejzlik!

@StevenACoffman opened another issue that's focused on auth and gateway-level directives so I copied your comment and replied over there - hope that's okay!

[2019-08-14 16:27] jakubknejzlik commented on #66
I see! Didn't know it's possible to merge it this way and it sounds cool! If I understand correctly the approach using `Query.node` is very similar to what's Apollo doing on their gateway under the hood (except they call it _entities field)...in more "generic" fashion. To be honest, both approaches seems to add additional constraints (@key/@external/... directives for Apollo and node interface and

[2019-08-14 16:50] AlecAivazis commented on #66
Yea that's for sure true.

Nautilus assumes that each service supports the Node interface/field and uses that to dramatically simplify the number of extra things that have to be supported by each service. The beauty of the `id` field is that it can contain any information you want as long as it is globally unique. If for example, your type needs two different pieces of information to be unique, ju

[2019-08-14 18:52] jakubknejzlik commented on #66
One little idea/question. Would you consider updating/adding method to be able to fetch multiple nodes in one field? It's possible to make it more efficient by running sending multiple fields at one and using DataLoader, but creating single field to fetch multiple entities at once (by list of IDs) could be easier to implement. What do you think?

[2019-08-21 16:40] AlecAivazis commented on #75
@jakubknejzlik is this gateway querying the service that you were using before? I'd like to find the culprit behind this leak asap

[2019-09-02 12:42] jakubknejzlik commented on #75
@AlecAivazis sorry for the delay....busy weeks :) . Actually I'm able to reproduce locally.

Current sources:
https://github.com/graphql-services/graphql-gateway/blob/feature/nautilus-gateway/main.go

Command:
[code]

Curl in cycles to make some load:

### Introspection query:
[code]
Memory usage:
after startup: 9.2MB
after 100 queries: 16.3MB
after 200 queries: 23.7MB
after 300 queries: 29.5MB
af

[2019-09-20 21:03] astenmies commented on #64
@jakubknejzlik Would you please have an example of how you extended existing types? I'm confused on how to approach this.

[2019-11-14 18:05] StevenACoffman commented on #64
@AlecAivazis Just so you are aware, an engineer from Tyk created an alternative schema federation solution [graphql-gateway](https://github.com/jensneuse/graphql-gateway) and has a [comparison with the Nautilus Gateway](https://github.com/jensneuse/graphql-gateway#nautilus-gateway)

[2019-12-05 23:22] edwinmo-splunk commented on #75
@AlecAivazis and I had chatted that my team was going to conduct some performance tests and would also spend some time reproducing the memory leak. I'm back with some results that corroborates the memory leak issue.

Test environment: K8s pod with 1Gi memory and 2 cpu.
Test scenario: K8s cron job that executes every minute. It queries the graphql service running Nautilus (and routing an external G

[2019-12-06 00:12] AlecAivazis commented on #75
Oh damn! I'm sorry to see that but at least we are confident there is a problem. Thank you so much for going through the effort to generate these charts.

Both of the the planning and execution phases involve a lot parallelism and could be the culprit. You should be able to isolate each phase by replacing the intsance with the ones I use in tests. I will pokea round a bit and see if anything stand

[2019-12-21 21:19] AlecAivazis commented on #75
This is now fixed thanks to the awesome work by @bk-splunk - thanks again!

[2019-12-21 21:19] #75 closed

[2019-12-23 09:55] maiguangyang opened #82 "I use a virtual machine for development. The current user IP in the gateway is different from the IP obtained in the service"
I use a virtual machine for development. The current user IP in the gateway is different from the IP obtained in the service:

Virtual machine: 192.168.33.10
The gateway obtained the IP: 192.168.33.1

[code]

[2020-01-06 19:49] frederikhors opened #83 "Integrate this project in already existing gqlgen project"
_I'm sorry for this question, I'm still learning GraphQL and Golang world._

I'm using `gqlgen` (https://github.com/99designs/gqlgen) to generate my own GraphQL server.

I need to "merge" other private/custom schemas to my own.

But I don't want to start two different services (my own gqlgen server and nautilus/gateway) to do so.

Is there a way to "integrate", in the same Golang project, gqlgen g

[2020-01-06 21:59] frederikhors commented on #83
I already have a:

[code]

It would be amazing to use that `graphql.NewExecutableSchema` coming from `gqlgen`.

[2020-01-13 21:17] edwinmo-splunk commented on #83
Hey @frederikhors! We actually had this exact use case and came up with a way to not have to host two separate services and still utilize the Nautilus gateway. We accomplished this by writing our own [Queryer](https://github.com/nautilus/graphql/blob/master/queryer.go#L48) that will resolve the query using the gqlgen executable schema. It looks roughly like this:

[code]

Here, `self.executableSch

[2020-01-29 00:24] linchpinstudios opened #85 "Errors aren't being passed through correctly"
I'm using a couple of services written with gqlgen. When they return errors to the gateway it is modifying the response and removing some of the data.

The following example shows the message being sent by the service and the message being received by the client. The `path` isn't being passed along with the `extensions` being modified to only contain an empty `code`

Consumer Service Error Respons

[2020-01-31 18:01] remorses commented on #65
I would like to use this project as a docker image to make a gateway between different services in a docker-compose stack.

To be used like that i need
- CORS support, configured via env
- URLS via env
- Ability to forward headers
- Ability to wait until urls are reachable (until a TIMEOUT given via env)

@AlecAivazis do you agree?

I would be happy contribute

Also, we should begin promote this l

[2020-02-03 01:49] AlecAivazis commented on #65
Hey @remorses - thanks for the +1 for a docker image. I think you're right that what you outlined would cover most peoples' requirements. It would also be a great way for people to get started with the gateway if they already have docker installed.

If you or @danielvladco want to put something together, I would love to review it!

[2020-02-19 13:23] #82 closed

[2020-02-19 13:27] maiguangyang opened #86 "github.com/vektah/gqlparser package path is updated to v2, an error is reported"
github.com/vektah/gqlparser package path is updated to v2, an error is reported

Reason: github.com/vektah/gqlparser The package name has been modified, which causes the project to run incorrectly

[2020-02-25 18:36] AlecAivazis commented on #86
hey @maiguangyang - thanks for letting me know about this.

I spent some time updating all of the references this morning but something is causing one of the tests to fail. I will try to pick this back up tonight and get a fix out asap.

[2020-03-02 14:02] longquan0104 opened #87 "Could not find the id for elements in target list"
When I implement it with 3 microservices the following issues has come :
[code]

[2020-03-03 08:22] longquan0104 commented on #87
My bad. resolved

[2020-03-03 08:22] #87 closed

[2020-03-05 04:01] longquan0104 opened #88 "Batching Requests"
Mine batching request does not work at all. Always return error without executing any query at any services
https://gateway.nautilus.dev/advanced/batching
Error return at executor
Network Error: json: cannot unmarshal object into Go value of type []map[string]interface {}

`{
  "data": null,
  "errors": [
    {
      "Value": "object",
      "Type": {},
      "Offset": 1,
      "Struct": "",

[2020-03-13 15:27] jhagel opened #95 "Network Errors reveal internal ip"
It appears as though http errors are being passed back to the browser. This is a potential security issue, revealing internal IPs or potentially other information.

example:
[code]

I could think of a couple of ways to solve this problem.

1. Customize the error message to reduce the information provided
1. Allow errors to be passed through middleware so the response can be modified

[2020-03-24 01:59] #86 closed

[2020-03-24 02:00] AlecAivazis commented on #86
Sorry this took so long! Better late than never, right?

Thanks again for bringing this to my attention

[2020-03-25 08:19] AlecAivazis commented on #88
Hey @longquan0104 - sorry I lagged on responding. Just wanted to let you know that I was able to reproduce the issue and am working on a fix. I'll try to get something out as quickly as I can.

[2020-03-25 09:42] AlecAivazis commented on #88
Would you please tell me what framework you are using server side? From the error, it doesn't look like your server supports the multi-operation batching protocol which should be returning a list when a list is submitted, even if there is only one query.

[2020-03-25 10:22] longquan0104 commented on #88
I was using gqlgen as services

[2020-03-25 10:22] AlecAivazis commented on #85
Hey @linchpinstudios - sorry for lagging on the response.

I dug a bit deeper and it turns out this was already solved by @bk-splunk in nautilus/graphql but needed to be pulled brought into the gateway package. I opened a PR that updates the module. If you have time to verify that it fixes your problem, that would be amazing.

[2020-03-25 10:31] AlecAivazis commented on #95
Hey @jhagel - thanks for reporting this.

I don't think the actual structure of the error payload is coming from the gateway. That does not look like a standard graphql error. That being said, your request for a way to format the error before it is sent to the user does make sense. Do you have an idea for what that middleware could look like?

[2020-03-27 09:11] AlecAivazis commented on #88
I'm not sure that the handler provided by gqlgen supports batching multiple operations together. It shouldn't be too hard to put something together tho - you just need to look to see if the body of the request is a list. if it is, execute each operation (the objects in the list) as you would a normal query.

I'm going to close this issue since its not clear this is an issue with the gateway. Feel

[2020-03-27 09:11] #88 closed

[2020-03-27 09:11] #85 closed

[2020-03-27 11:45] jbreeden-sfx opened #100 "Avoid returning partial results if required fields cannot be resolved"
This is a trimmed down copy-pasta of a comment from #99:

We're currently returning partial results for federated objects whose required fields cannot be resolved.

If you have this (psuedo-code) schema in service 1:

[code]

and this in service 2:

[code]

And run this query:

[code]

You may get `Child` objects with an `id` but no `name`, if there was an error in service 2, even though it's a re

[2020-03-30 19:00] snapiz opened #102 "operationName is empty when request for introspection service"
The operationName should be `IntrospectionQuery` which causing `Unknown operation name` when query IntrospectionQuery

[2020-04-07 12:59] maiguangyang opened #103 "Errors when uploading files using apollo-upload-client"
Errors when uploading files using apollo-upload-client

apollo-upload-client uses formData to upload files and reports errors:
[code]

[2020-04-13 06:27] SupratickDey opened #104 "# github.com/carted/graphql/language/printer ..\..\..\github.com\carted\graphql\language\printer\printer.go:372:9: undefined: ast.NullValue"
NullValue field is undefined.

[2020-04-13 07:48] riginoommen opened #105 "Is there any nodejs based implementation available for the gateway like this."

[2020-04-24 07:21] AlecAivazis commented on #105
Hey @riginoommen - Unfortunately, I do not know of any. Please feel free to open another issue if you run into any problems with this package!

[2020-04-24 07:21] #105 closed

[2020-04-24 07:21] AlecAivazis commented on #95
I'm going to close this since it has gone a bit stale

[2020-04-24 07:21] #95 closed

[2020-04-28 09:58] krisanalfa opened #106 "Override Introspection Request"
Hi, can I override introspection request. For example adding extra HTTP headers. I've tried to use custom `QueryerFactory`, but it does not work. `QueryerFactory` only works on `Query` scope, not when introspection happens.

[code]

[2020-04-29 14:53] krisanalfa commented on #106
Found the answer, turns out I need to create my own `IntrospectRemoteSchemas`

[code]

[2020-04-29 14:53] #106 closed

[2020-04-29 16:25] krisanalfa opened #107 "Forward All Headers from Gateway to Service"
How do I achieve this? I wrote this middleware, turns out the middleware can't read gateway request headers.

[code]

[2020-04-29 17:25] krisanalfa commented on #107
Found the answer, the trick is using custom context value

[code]

[2020-04-29 17:25] #107 closed

[2020-05-10 13:57] lorenzleutgeb opened #108 "Question: Does nautilus gateway support subscriptions?"
Hi!

I am looking for a gateway implementation that supports GraphQL subscriptions. This would mean that the gateway must forward subscription request to downstream services and also forward a WebSocket connection.

I searched for "subscription" and "websocket" in this repository but could not find any code that looks like such an implementation.

Best,
Lorenz

[2020-05-27 19:19] AlecAivazis commented on #108
Hey @lorenzleutgeb! Sorry i lagged on replying to this.

Unfortunately, the gateway does not currently support subscriptions but I would be *very* interested in adding it. I'm not sure what time I will find to add it but it's absolutely on the roadmap for this project.

[2020-05-27 19:20] AlecAivazis commented on #103
hey @maiguangyang! Sorry you are running into this. I haven't yet tested the gateway with `apollo-upload-client` so i'm not totally surprised. If you want to dig into fixing this, let me know. I'm available on the gopher slack. Otherwise, I can try to find some time to handle it.

[2020-05-29 08:15] AlecAivazis commented on #102
Hey @snapiz - thanks for opening this ticket.

I'm a little confused what your exact issue is. The [introspection query](https://github.com/nautilus/graphql/blob/master/introspection.go#L389) that we send to backing services does include a query name of `IntrospectionQuery`. Can you provide a little more context?

[2020-05-29 08:22] AlecAivazis commented on #104
Hey @SupratickDey - thanks for opening this issue.

Would you mind giving me a little more information? What script are you trying to run that is causing this error?

[2020-05-29 08:25] SupratickDey commented on #104
Thanks for getting back to me, issue got resolved,  it exist  if we have
more than 1 version in our machine.

On Fri, 29 May 2020, 1:53 pm Alec Aivazis, <notifications@github.com> wrote:

[2020-05-29 09:23] AlecAivazis commented on #104
Ah np! Happy to hear it was fixed. Let me know if you run into more issues!

[2020-05-29 09:23] #104 closed

[2020-06-01 14:42] snapiz commented on #102
Hey @AlecAivazis , I'm talking about `operationName` in the request (query, operationName, variables)

[2020-06-01 16:05] AlecAivazis commented on #102
Ah! I understand now. Thank you for clarifying. I am going to move this issue over to the `/graphql` repo where the logic responsible for this lives.

[2020-07-19 22:00] oranze opened #109 "GraphQl playground get js error"
Good day.
I have a strange problem when clicking on "Schema" in right side of Playground.
Query's working fine, Docs tab also working fine.
In browser
`
react-dom.production.min.js:209 SyntaxError: Syntax Error: Unexpected } (3:1)
  1 |
  2 |

    | ^
  4 |
  5 |
  6 |
    at t.start.line (parser-graphql.js:1)
    at Object.parse (parser-graphql.js:1)
    at Object.parse (standalone.js:13721)

[2020-09-01 14:47] jasondeutsch commented on #25
@AlecAivazis should this issue be closed or are their further requirements?

[2020-09-01 17:25] AlecAivazis commented on #25
No, unfortunately this is still a problem. Let me add a description to the initial so it will be a bit more clear what I had in mind.

[2020-09-01 23:37] obukhov commented on #103
Hi! I was looking into the issue and implemented part of the solution.

This is still work in progress but already works at least for the single file uploads.

@AlecAivazis if you have time please have a look and tell me what you think here (I will create a PR when it will be fully tested and fixed).

Here are the branches I am working at:
- https://github.com/nautilus/graphql/compare/master...obu

[2020-09-23 20:07] obukhov commented on #103
Shall this now be closed? @AlecAivazis :)

[2020-10-01 21:20] obukhov opened #111 "Support open-tracing"
Gateway works with multiple underlying (implementing) services. To analyze its performance it would be nice to support OpenTracing (https://medium.com/opentracing/towards-turnkey-distributed-tracing-5f4297d1736) this actually can be achieved through middleware but can be tricky sometimes.

I think supporting open-tracing standard to unify distributed tracing will be beneficial for most uses. What

[2020-10-01 21:28] obukhov opened #112 "Schema merging in build time"
Currently, schemas of services are introspected on service startup and stored in memory which can lead to the situation when different instances (started in different moments of time in case of autoscaling for example) will have different schemas.

To have better consistency and reproducible environment it would be nice to have a way to merge schemas on build time or from files (which can be bundl

[2020-10-01 21:33] obukhov opened #113 "Support batching in underlying services to avoid N+1 problem"
In case if implementing service resolves the fields of the type other service returns as a list (i.e. service A returns a list of ordered products and service B implements product fields resolution). This may lead to a high amount of requests per second to service B. To optimize that it would be nice to have an option to implement batching (in the service B) so all the requests caused by the same

[2020-10-04 09:20] AlecAivazis commented on #113
Hey @obukhov!

I took a stab at adressing this awhile ago with the introduction of the `MultiOpQueryer` which performs the "Transport Level Batching" described [here](https://www.apollographql.com/blog/query-batching-in-apollo-63acfd859862/).

Please let me know if that addresses your needs. If not, I'd love to see what we can add to support them :)

[2020-10-04 09:20] AlecAivazis commented on #113
fwiw, this is documented here: https://gateway.nautilus.dev/advanced/batching

[2020-10-04 10:25] AlecAivazis commented on #111
I would **love** to have some kind of support for analyzing the performance of the gateway at the resolver level. If we can find a way to integrate this into standards adopted by larger community, that's even better! Something to consider if if there is benefit supporting the same format of tracing that apollo's platform supports (described [here](https://github.com/apollographql/apollo-tracing)).

[2020-10-04 10:28] AlecAivazis commented on #112
This is another one of those things that have been sitting in the back of my mind for awhile. I think this makes sense for certain teams which means it's probably worth exploring how far we should take it as a library. If you have any ideas on potential APIs, please let me know.

[2020-10-20 15:56] berend opened #115 "Composing results fails for single item queries"
Hi there,

we found a bug it seems.

Given two schemas

A
[code]

B
[code]

and using nautilus to combine them.

This single item query does **not** work:

[code]

This query _does_ work:

[code]

Reason seems to be that here https://github.com/nautilus/gateway/blob/38e5c1ae9a4e4af598f359e3de1aab93c8fea62d/execute.go#L597 a list is expected and not a single value. For the error above, a single ite

[2020-10-21 11:33] berend commented on #115
It looks like the reason for this is that our node-id contains a `:`. Then this line https://github.com/nautilus/gateway/blob/38e5c1ae9a4e4af598f359e3de1aab93c8fea62d/execute.go#L512
assumes, that we a looking at a list

[2020-10-21 11:55] berend commented on #115
We have a fix and will add a test.

[2020-10-22 14:06] berend opened #117 "Merging types with different set of interfaces"
We stumbled upon another thing.

When we combine a type via two schemas and in one schema that type implements another interface (`Meta` in the example below):

A
[code]

B

[code]

We then get an error on `gateways.New`:

[code]

We consider types that have a different amount of interfaces a valid use case. And if we comment out https://github.com/nautilus/gateway/blob/38e5c1ae9a4e4af598f359e3de1

[2020-10-22 19:43] AlecAivazis commented on #117
hey again @berend! It's very likely that this is a mistake on my part. Iirc, I was concerned about interfaces spanning service boundaries and wanted to avoid any potential issues.  I think you are correct and that it can be removed in general.

[2020-10-22 19:46] #115 closed

[2020-10-22 19:47] AlecAivazis commented on #103
Yes, i think its safe to close this now - thanks again for your hard work @obukhov!

[2020-10-22 19:47] #103 closed

[2020-10-22 19:48] AlecAivazis commented on #113
I'm going to close this issue, please let me know if there's anything else we can add to improve this support

[2020-10-22 19:48] #113 closed

[2020-10-23 06:28] berend commented on #117
I'll do a PR for that.

Not sure if I can come up with tests for that. Maybe I can include that example from above somewhere? If you have a similar test, I would be thankful for pointing to it.

[2020-10-23 10:46] berend commented on #117
Having a better overview now!

There is a test for said check here

https://github.com/esome/gateway/blob/07174ffa3475f3a57d6c63f9e1269d936e2ca77e/merge_test.go#L268-L284

I am going to remove that one from the test table and do a different one that makes this clear.

I found another bug, will handle that in the next PR.

[2020-10-23 11:08] berend opened #119 "When merging type with different set of interfaces, distinct interfaces are not always added."
Given the two schema A and B, where B has more interfaces on a type, the order of merging changes the outcome.

Example:

A
[code]

B

[code]

If we now merge this with `A` first like so:
[code]
then `combined.schema.Types.[Thing].Interfaces` is ["Node", "Meta"]. If we merge with `B` first

[code]
then `combined.schema.Types.[Thing].Interfaces` is ["Node"].

This may cause issues, when doing fragm

[2020-10-26 08:42] #117 closed

[2020-10-29 13:14] pkosiec opened #120 "Separate Playground Handler from GraphQL Handler and make it configurable"
Hi,

Very cool project, thank you for active development! 👍

I would like to propose an improvement to Playground and GraphQL handlers:
- Modify Playground Handler to just serve the GraphQL Playground page
- Make Playground Handler configurable, to be able to point on different endpoint for GraphQL API.

For example, similarly to [gqlgen](https://github.com/99designs/gqlgen), I would like to run P

[2020-11-10 19:32] AlecAivazis commented on #119
Hey @berend! Thanks for bringing this up. I agree that we should never be overwriting interfaces and i think i agree with the three cases you outlined.

[2020-11-10 19:34] AlecAivazis commented on #120
Hey @pkosiec! Thanks for being patient while I'm slow to respond.

I think it makes sense to provide a way to have these be separate endpoints. I think having one handler that provides both behaviors is also nice for people that want it. Can you think of a better name for `PlaygroundHandler` for the one that does both?

[2020-11-10 19:35] AlecAivazis commented on #109
Hey @oranze! Did you ever figure this out? If its still a problem i can try to find some time to take a look

[2020-11-14 17:13] pkosiec commented on #120
Hi @AlecAivazis,
Thanks for reply. Naming things is hard 😄 I was thinking a bit and I have three ideas:
- `CombinedHandler`
- `ConsolidatedHandler`
- `UnifiedHandler`
I'm not saying they're the best, but they're the only ones I could come up with. What do you think?

[2020-11-24 13:07] pkosiec opened #121 "Input string with escaped double quote results in a Gateway error"
Hi,
I'm using Nautilus to aggregate a few GraphQL APIs. In one of the GraphQL APIs I have a mutation where user provides JSON string. In the string there are escaped double quotes.

**Schema:**
[code]

This is the mutation I'm doing:
[code]

When I'm doing such a mutation directly to my service (which uses GQLGen), it works fine. However, when I do such mutation via Gateway, I get:

[code]

In log

[2020-11-25 10:02] AlecAivazis commented on #109
I am not able to reproduce this so I am going to close this issue. Please let me know if you run into it again.

[2020-11-25 10:02] #109 closed

[2020-12-04 09:56] maaft commented on #108
I'd also be very interested in this.

[2020-12-04 10:11] lorenzleutgeb commented on #108
May I kindly ask you to react with a thumbs up emoji on my initial comment instead of adding a comment like this? Some people get many, many GitHub notifications per day, and such comments get annoying really quickly. For example, refer to corresponding page in the Wiki of the Go repo: https://github.com/golang/go/wiki/NoPlusOne
Thanks!

[2020-12-04 10:43] berend commented on #119
Hi @AlecAivazis, just to let you know: I still plan to fix this, but christmas is the busiest time here, I have not yet found the time.

[2020-12-07 18:14] pkosiec commented on #121
Hello there ,
I just wanted to let you know that I started to investigate this issue.

Apparently it's a little bit deeper than I initially thought. I successfully reproduced the issue with a unit test case for https://github.com/nautilus/graphql printer:
https://github.com/pkosiec/graphql/commit/144e309ef80ac6c6364c90534f0bc9e17c8998b6

[code]

Even when I bumped the dependency (replaced outdated

[2020-12-08 18:01] pkosiec commented on #121
The problem was down in the `carted/graphql` (some old fork of `graphql-go/graphql`).

So it was a bit deeper in the dependency tree.
[code]

I reported the issue and submitted PR with fix:

**Issue**: graphql-go/graphql#586,
**PR**: graphql-go/graphql#587

Once the contribution is approved, I will create a PR with dependencies bump in both `nautilus/graphql` and `github.com/nautilus/gateway` repo

[2020-12-08 19:19] AlecAivazis commented on #121
Thank you so much for hunting this down @pkosiec!

Adding a test to the nautilus/graphql package that covers this would be awesome. I would like to eventually move away from relying on that package to print queries, i just haven't found the time.

[2020-12-08 20:20] pkosiec commented on #121
No problem, @AlecAivazis 🙂 I will add the test case in the same pull request where I will bump the `graphql-go` dependency. Hopefully that will happen very soon - it depends on how fast the guys from `graphql-go` approve & merge my PR. Fingers crossed it won't take long 🤞

[2021-02-01 10:28] kirill-amboss opened #122 "Customize log format"
Hi there,

It seems that there's no way to change the gateway's log format, except for hardcoding the desired format In `logging.go`.

Are there any plans to fix this, or are you open to a contribution fixing this?

I was thinking about proposing a PR that would extract a logger interface and adding the `withLogger` option to the `gateway` config but wasn't sure if it was the best way to solve the

[2021-02-07 04:31] #122 closed

[2021-02-07 04:32] AlecAivazis commented on #122
Hey @kirill-amboss!

Thanks for being patient while I found some time to look over your contribution.

[2021-02-08 21:37] mfinley3 opened #124 "MultiOpQueryer - File Upload Support"
Hi - I was upgrading my gateway deployment to support file uploads. I've been using MultiOpQueryer as my go to queryer for a while now and ran into the error  `WARNING Network Error: map[string]interface {} is not an Upload` why trying to use it for file uploads. I haven't dug too far into this but this doesn't happen when using the SingleRequestQueryer.

My Query looks something like
[code]

[cod

[2021-02-08 21:41] AlecAivazis commented on #124
Ah darn! It definitely should be supported, sorry you ran into that.

I haven't used this exact combo myself so I missed this issue, thanks for bringing it up! I suspect the problem is the way that we take a batch of queries and send them over the wire.

[2021-02-08 21:53] AlecAivazis commented on #124
Poking around a little closer, it seems like what's missing is the equivalent of [this block](https://github.com/nautilus/graphql/blob/master/queryerNetwork.go#L59-L68) in the definition for the `MultiOpQueryer` defined [here](https://github.com/nautilus/graphql/blob/master/queryerMultiOp.go).

Do you have some bandwidth to check this out? If not, do you mind throwing together a repo that reproduc

[2021-02-09 21:50] mfinley3 commented on #124
Hey Alec - Thanks for getting back to me so quickly; wasn't expecting a near immediate reply!

I'd be happy to help where I can, unfortunately my bandwidth is a bit low right now so I've uploaded a small sample of what I was doing for testing/debugging incase you wanted to get to it quicker than I could. https://github.com/mfinley3/multiopqueryerfileupload

This isn't anything blocking so no rush

[2021-02-28 22:53] prokaktus opened #127 "Fix error `error adding scrub fields: could not find field for point %s` for aliases"
Hello!

When I'm trying to build query, which affects different locations with aliases, I got error: `error adding scrub fields: could not find field for point %s`

Example:

[code]

[code]

I tried to reproduce this with test and possible fix:
https://github.com/nautilus/gateway/pull/126

Thanks!

[2021-03-03 22:58] prokaktus commented on #127
PR https://github.com/nautilus/gateway/pull/126 is merged, so I'm closing this issue.

Thanks @AlecAivazis!

[2021-03-03 22:58] #127 closed

[2021-03-05 11:07] prokaktus commented on #124
@mfinley3 @AlecAivazis is there any workaround exists? I see that support file upload PR https://github.com/nautilus/gateway/pull/110 already merged, but when I try to submit `Upload` scalar I get the same error `"map[string]interface {} is not an Upload"`

[2021-03-05 12:50] prokaktus commented on #124
@mfinley3

Could you share it, by the way? I think it is ok to use single request, while sending mutation.

[2021-03-07 14:39] prokaktus opened #128 "Error: "cannot query field "id" on type "UnionType""
Hello!

I've met the error when using inline fragments.

## Description

Schema:

[code]

Query:
[code]

If `Dog` and `Cat` are defined in the same location, it works well.

But if you define `Dog` and `Cat` in different locations, then first query in plans generate:

(query generated by Nautilus)
[code]

Which is invalid, because we cannot query fields on `Union`, except `__typename`. Graphql spe

[2021-03-07 19:19] prokaktus commented on #128
The same problem happens with query, if `Dog` and `Cat` from different locations:
[code]

[2021-03-08 19:10] AlecAivazis commented on #128
Oh, damn yea this is going to bring you very deep into the weeds of the query planning process. It sounds like you are on the right track tho! Since its safe to assume that every boundary type has ID, you should be able to just ensure that ID shows up the different conditions for the union and instead of adding it straight to the selection set.

[2021-03-12 03:16] prokaktus opened #129 "MinQueriesPlanner freeze on large selection sets affecting different locations"
Hello, @AlecAivazis!

When selection sets is large than 10 and planner starts to collect steps, it's freezing, because of current buffer size.

Example to reproduce the problem:

Schema:
[code]

Query (actual query could consists of different types from different locations, but to illustrate the problem I add only `photo`):
[code]

In that case, `MinQueriesPlanner` freeze, because of buffered chan

[2021-03-16 18:16] prokaktus commented on #129
Closing because PR got merged

[2021-03-16 18:16] #129 closed

[2021-04-04 18:26] mfinley3 opened #131 "Support Uploads inside of Input Types"
It does not appear the gateway supports upload types nested as fields inside of Inputs

It would be a nice feature to have as frameworks such as https://github.com/99designs/gqlgen support this.

[code]

A few tweaks to: https://github.com/nautilus/graphql would be needed for this as well

[2021-04-09 03:21] #131 closed

[2021-04-11 07:45] pkosiec commented on #121
Hi @AlecAivazis,
It took a bit of time to have the PR merged on the original `graphql/graphql-go` repository. However, today it was finally merged. That's why I created a PR in `nautilus/graphql` repo for bumping the dependency. As discussed, I also added a simple test case for the issue.

Please take a look: https://github.com/nautilus/graphql/pull/18

Cheers!

[2021-04-12 09:24] berend opened #136 "copy() of [][]string is not deep enough"
We stumbled upon an error, where we merge schema with lists of lists. For those inner most list, the values are only merged for the last list entry. The reason for this is, that [this line](https://github.com/nautilus/gateway/blob/master/execute.go#L404) does `copy()` on a `[][]string`. How ever, `copy` is not a deep copy, therefore later [this line](https://github.com/nautilus/gateway/blob/master

[2021-04-13 01:36] AlecAivazis commented on #136
Whoa, nice find!! I'm really not sure of a better alternative for the deep copy unforunately :(

[2021-05-01 14:53] AlecAivazis commented on #136
I think this can be closed now

[2021-05-01 14:53] #136 closed

[2021-05-08 20:40] #121 closed

[2021-06-11 13:52] sGy1980de opened #141 "Bug: Race condition on dependent steps leading to data loss"
Hey guys,

awesome work on this project and thank you for providing it to the community. I'm pretty sure, I found a race condition in the executor though. I'll open a pull request to fix that issue, but let me explain first:

Given the following schemas (stripped down from our real application) and query:

**Schema A**
[code]

**Schema B**
[code]

**Query**
[code]

When using `gateway` to federate

[2021-06-14 12:50] flovilmart opened #143 "Conflicts with the internal schema"
Hi, thanks for this getting this tool out!

We're exploring using this project and when I hook up upstream graphQL servers backed by [graphql-relay-js](https://github.com/graphql/graphql-relay-js/), we get field / interface definition conflicts.

By default, the relay-js project [includes descriptions](https://github.com/graphql/graphql-relay-js/blob/main/src/node/node.js#L36-L76) describing node.

[2021-06-15 19:49] AlecAivazis commented on #143
Ah yea I agree that a different description probably shouldn't cause this kind of error. Please feel free to open a PR addressing this.

[2021-06-15 20:02] flovilmart commented on #143
Perfect! What do you prefer as a resolution? Skip the description? Merge them?

[2021-06-18 17:14] AlecAivazis commented on #143
Hm, good question. I'm really not sure what the right move is. How about, if one of the descriptions is empty and another one isn't, lets use the non-empty value. If the content is actually different, let's arbitrarily choose the first one

[2021-06-19 15:41] flovilmart commented on #143
Good idea! Let me see what I can do. I assume this logic should apply to any description (enums, fields, interfaces etc).
Let me see what I can do for that!

[2021-07-05 19:30] #141 closed

[2021-07-05 19:30] #83 closed

[2021-07-08 18:51] sbilello opened #146 "Please add README.MD with explicit steps on how to install the gateway"
Disclaimer: I am not a gopher and after some googling and repository browsing I was able to figure it out. I hope this thread can help someone not gopher expert.

I followed the following steps:

[code]

I was expecting that running `go install` under `cmd` directory would install the binary in my bin path:

❯ go install
❯ gateway
zsh: command not found: gateway
❯ graphql-gateway
zsh: command not

[2021-07-08 19:55] sbilello opened #147 "Does it need to be explicit the Node interface?"
Hello!
I was trying to make it work this gateway in this example that leverages the apollo gateway: https://github.com/Netflix/dgs-federation-example/
It looks like that performing the query
[code]
generates this output
[code]

I was comparing the schema it looks like that the problem can be given by implementing the Node type?
Is this gateway referring to an old apollo gateway federation spec?

[2021-07-08 20:28] AlecAivazis commented on #147
Hey @sbilello - sorry to hear you are running into some difficulty.

For context, this gateway does not implement apollo's spec. In fact, it predates the public release of the spec and i'm not very familiar with what they have done with their gateway. I know that in general, nautilus put a much heavier dependency on the node field, you can't really customize it the way you can apollo's. The valida

[2021-07-08 20:32] AlecAivazis commented on #146
The github pipeline that builds and ships the executable has been broken for a little and I haven't found the time to fix it. Most of the gateway's users build from their own customized version and treat the gateway as a library instead of using the binary directly which is why there hasn't been much time invested on this.

If you run `go build .` after `go install` you should have a `gateway` bin

[2021-07-08 23:01] #146 closed

[2021-07-08 23:01] sbilello commented on #146
I had a `cmd` executable on my bin directory

[2021-07-08 23:02] sbilello commented on #147
@AlecAivazis thanks for confirming it. Yes, the validation error is coming from the subgraph because they expect another kind of query format. Is there a reason why it is not conforming to the apollo federation spec?

[2021-07-08 23:05] AlecAivazis commented on #147
Like I mentioned, this project was released before their federation spec. the nautilius gateway is built by relying on the Node interface to handle the actual stitching and querying which seems like a much simpler constraint on the backing services instead of relying on an entire family of introspection queries. to be clear, I dont have plans to adopt their spec in the future either

[2021-07-08 23:22] sbilello commented on #147
Thanks for your fast reply and clarification!

[2021-07-08 23:22] #147 closed

[2021-08-05 06:07] JohnStarich opened #149 "CLI dependencies pulled in alongside library deps"
In our build pipeline, we're hitting some known CVEs for the gateway library's indirect dependencies. One of which is `etcd`, which I found a bit surprising!

<details>
<summary>

`nancy` vulnerability scanner output:
</summary>

[code]
</details>

Would you be open to creating [sub-Go Modules](https://github.com/golang/go/wiki/Modules#faqs--multi-module-repositories) to help isolate the dependenc

[2021-08-10 11:41] gedw99 opened #150 "How to run the gateway and the sub services on a single port ?"
Thanks for makin this. It's really clean if you know what i mean.

At the moment the code wants to run with each service on a different port.

For certain deployments i want to be able to run the gateway and the sub services on a single port ( for example on a desktop or mobile device ), and for scaled out scenarios with each on their own ports ( for example on many servers ).

Can you think of an

[2021-08-25 11:27] candrasetiadiwahyu commented on #57
UP

[2021-09-03 01:42] JohnStarich commented on #149
Hey @AlecAivazis, if you have moment please let me know your thoughts! I'd be happy to contribute these changes.

[2021-09-03 01:43] AlecAivazis commented on #149
Hey @JohnStarich! Sorry i missed this. I'm definitely open to it as long as it doesn't change the import path for the actual gateway

[2021-09-03 01:56] JohnStarich commented on #149
Wow, that was fast 😄 Ok great, I'll piece something together soon. Thanks!

[2021-09-03 02:32] JohnStarich commented on #149
@AlecAivazis Opened https://github.com/nautilus/gateway/pull/151 for your review

Thanks again for the quick reply 🙂

[2021-09-08 06:49] AlecAivazis commented on #150
Hey @gedw99! Appreciate the kind words.

If I'm following you correctly, I think you might be able to pull off what you want by using defining in-memory `Queryer` that executes your schema from the same process as the gateway. [Here](https://gateway.nautilus.dev/advanced/batching) is an example of what that could look like.

Let me know if that works for you! I appreciate your patience - took me l

[2021-09-13 15:12] sGy1980de opened #152 "[Bug] arguments for directives are lost when using nautilus"
Hey,

i stumbled over some annoying bug. The introspection and query planner is unaware about the arguments for directives. So with nautilus it's currently impossible to use the built-in directives like `@include` or `@skip`, since the query planner complains about the `if` argument being unknown. The introspection query clearly shows the problem.

Version affected: `v0.1.19`

Expected result:
[co

[2021-09-15 05:11] #149 closed

[2021-09-15 05:12] AlecAivazis commented on #150
Going to close this since its gone a bit stale. @gedw99 let me know if you still need guidance

[2021-09-15 05:12] #150 closed

[2021-09-16 07:03] hsblhsn opened #153 "Get the merged schema."
How can I get the merged schema?

[2021-09-23 00:20] JohnStarich opened #154 "Data races, some between logger and execution"
Hey there! I've hit a couple race conditions with the logger during execution. It seems some of the same data used in log fields are also mutated in another goroutine at the same time.

I've included the output of `go test -race ./...` on `master` below:

<details>
<summary>

Click to expand full log:
[code]
</summary>

[code]
</details>

I took a crack at it today, but I'm not much of an expert i

[2021-09-23 05:28] JohnStarich commented on #154
Ha, I spoke too soon. 🙂 I dug into it further and found the primary source of races were in the graphql lib fragment resolver! Opened up https://github.com/nautilus/graphql/pull/20

The other race appears to be in the cache, that one seems a bit easier to fix.

[2021-10-04 21:23] JohnStarich commented on #154
Hey @AlecAivazis, friendly poke! 👋

When you have a second, curious what you think of these 2 PRs?
* https://github.com/nautilus/graphql/pull/20
* https://github.com/nautilus/gateway/pull/155 (blocked by ^)

[2021-10-10 01:11] ozanturhan opened #156 "Persisted Query doesn't work correctly with Apollo Client & There is no way to use another cache mechanism like Memcache or Redis"
Hi,

I am trying to use nautilus gateway with apollo automatic persisted queries. Apollo gateway returns PersistedQueryNotFound error with http status 200. But nautilus gateway return it with 400. When I change http status from 400 to 200 thats work properly.

[code]

I am using apollo-link-persisted-queries in client side.
[code]

Another thing I realized after apq working correctly, nautilus add

[2021-10-12 17:10] AlecAivazis commented on #154
Sorry this has taken me a bit, I'm trying to understand the changes - it seems like every time someone fixes a race condition another one is introduced so Ii need to be dililgent when accepting changes

[2021-10-19 15:12] maaft commented on #108
@AlecAivazis Hi! Is there any progress on this topic? Is there an official roadmap tracker or similar?

[2021-11-11 20:49] ivekov opened #157 "-bash: ./gateway: No such file or directory"
After downloading the files of service, i run:
' ./gateway start --port 4000 --services http://localhost:3000,http://localhost:3001'

And recieve the error:
'-bash: ./gateway: No such file or directory'

Tried different installation variants.

[2021-11-11 21:18] ivekov commented on #157
You have to change guide, or tell everyone to:

1. Install golang
2. Go to cmd/gateway
3. Run 'go build .'
4. Run 'go run . start --port 4000 --services http://localhost:3000,http://localhost:3001 '

Otherwise it won't start. I work with node, php, python, how could i knew that i have to use 'go build' command?

[2022-02-18 07:00] ashwin153 opened #158 "Custom config in GraphQL Playground"
Currently, it is not possible to pass in config to the GraphQL Playground.

https://github.com/nautilus/gateway/blob/5d984b36965ab4c5a1903388ffcb1d58277f56cf/graphiql.go#L493

However, I would like to be able to customize things like settings (e.g., set `"request.credentials": include`). Would it be possible to allow users to inject configuration when creating the GraphQL Playground?

[2022-02-25 18:11] #154 closed

[2022-03-02 21:57] JohnStarich commented on #154
Thanks @AlecAivazis! Would you mind cutting a new release tag with the change?

I noticed your call for more maintainers. I'd be interested in helping out where I can ❤️

[2022-03-02 22:38] AlecAivazis commented on #154
Whoops! sorry about that. it should be released as 0.2.1

[2022-03-21 08:35] AlecAivazis commented on #156
Hey @ozanturhan - sorry it took so long to reply! If apollo returns a 200 when doing APQ, nautilus should do the same. If you have time to submit a PR with that change I will gladly accept it. In regards to memcache, I don't I'd like to assume that memcache is available for the default query plan cache but if you wanted to pull your changes into a third party repository, i would love to link to it

[2022-03-21 08:35] AlecAivazis commented on #153
You should be able to trigger the introspection query against the gateway to get the full schema

[2022-03-21 08:35] #153 closed

[2022-06-17 23:13] #143 closed

[2022-06-17 23:17] JohnStarich commented on #143
@flovilmart Should be fixed! You can try it out in version `v0.2.3`

[2022-06-18 16:29] JohnStarich commented on #157
@ivekov Thanks for opening. This is fixed as of [v0.2.5](https://github.com/nautilus/gateway/releases/tag/v0.2.5)

[2022-06-18 16:29] #157 closed

[2022-06-25 22:54] JohnStarich commented on #152
Thanks for opening @sGy1980de!

This was fixed by https://github.com/nautilus/gateway/pull/172 and released in `v0.2.7`

[2022-06-25 22:54] #152 closed

[2022-06-26 22:06] #119 closed

[2022-06-26 22:16] #120 closed

[2022-06-26 22:16] #158 closed

[2022-06-26 22:17] JohnStarich commented on #158
Thanks for opening @ashwin153! This was added in `v0.2.8`

[2022-06-26 22:17] JohnStarich commented on #120
Thanks for opening @pkosiec! This was added in `v0.2.8`

[2022-06-26 22:18] JohnStarich commented on #119
Thanks for opening @berend! This was fixed in `v0.2.8`

[2022-06-27 18:18] flovilmart commented on #143
wonderful! Thanks!

[2022-07-01 02:36] JohnStarich commented on #156
➕ to Alec's comment.

@ozanturhan If I understand the problem correctly, the bad request error appears to be an Apollo server-side issue, rather than a gateway one.

Regarding caches: You can make use of the [`QueryPlanCache` interface](https://pkg.go.dev/github.com/nautilus/gateway#QueryPlanCache) to implement and swap in your own cache.
We'd be happy to link to a memcached QueryPlanCache impleme

[2022-07-01 02:36] #156 closed